@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

:root {
  --AlmostWhite: hsl(0, 0%, 98%);
  --MediumGray: hsl(0, 0%, 41%);
  --AlmostBlack: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-color: var(--AlmostWhite);
}

main {
  width: 100%;
  height: 100vh;
  font-family: "Epilogue";
}

nav {
  width: 95%;
  height: 20%;
  margin: auto;
  height: 5em;
  position: relative;
  color: var(--MediumGray);
  display: flex;
  align-items: center;
}

.nav_items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left_nav {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  height: 30px;

  margin-right: 5em;
}

.nav_links {
  display: flex;
}

.nav_links li {
  margin-right: 3em;
  cursor: pointer;
  display: inline-block;
}

li:hover path,
li:hover {
  color: var(--AlmostBlack);
  stroke: var(--AlmostBlack);
}

.arrow-up {
  display: none;
}

.arrow-down {
  display: block;
}

.active_li {
  color: var(--AlmostBlack);
  stroke: var(--AlmostBlack);
}

.right_nav a {
  color: var(--MediumGray);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.register {
  padding: 0.7em 1em;
  border: 1px solid var(--MediumGray);
  border-radius: 1em;
  margin-left: 2em;
  transition: 0.3s linear;
}

.login:hover {
  color: var(--AlmostBlack);
}

.register:hover {
  color: var(--AlmostBlack);
  border: 2px solid var(--AlmostBlack);
}

.features_dropdown {
  height: 10em;
  background-color: #fff;
  padding: 1em 1.5em;
  position: absolute;
  bottom: -9em;
  left: 3.2em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.features_dropdown li {
  cursor: pointer;
}

.features_dropdown li img {
  margin-right: 0.5em;
}

.company_dropdown {
  position: absolute;
  height: 7em;
  background-color: #fff;
  padding: 1em;
  position: absolute;
  bottom: -6em;
  left: 19em;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company_dropdown {
  cursor: pointer;
}

.hide {
  display: none;
}

header {
  width: 80%;
  height: 75%;
  margin: 2em auto 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left_header {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

article {
  margin-top: 6em;
  font-size: 1.3rem;
}

article h1 {
  font-size: 6rem;
  margin: 0 0 0.6em;
}

.line-break {
  display: block;
}

article p {
  color: var(--MediumGray);
  width: 80%;
  line-height: 1.4em;
  margin: 0 0 3em;
}

article .l-more {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 1em;
  margin: 0em auto;
  color: var(--AlmostWhite);
  background-color: var(--AlmostBlack);
  border: 1px solid var(--AlmostBlack);
}

article .l-more:hover {
  background-color: var(--AlmostWhite);
  color: var(--AlmostBlack);
}

.client-logos {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-logos img {
  width: 5em;
}

.right_header {
  width: 45%;
  height: 100%;
}

.right_header img {
  width: 34em;
  height: 100%;
}

.mobile_img {
  display: none;
}

@media screen and (min-width: 1450px) and (max-width: 1750px) {
  article {
    margin-top: 7em;
    font-size: 1.1rem;
  }

  article h1 {
    font-size: 4.8rem;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1450px) {
  .left_header {
    width: 50%;
  }

  .right_header {
    width: 48%;
  }
  .right_header img {
    width: 33em;
  }

  article {
    margin-top: 7.5em;
    font-size: 1.08rem;
  }

  article h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1300px) {
  :root {
    font-size: 15px;
  }

  header {
    height: 70%;
    margin-top: 5em;
  }
  .left_header {
    width: 50%;
  }

  .right_header {
    width: 48%;
  }
  .right_header img {
    width: 33em;
  }

  article {
    margin-top: 7.5em;
    font-size: 1.05rem;
  }

  article h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1180px) {
  :root {
    font-size: 14px;
  }

  header {
    height: 65%;
    margin-top: 7em;
  }
  .left_header {
    width: 50%;
  }

  .right_header {
    width: 48%;
  }
  .right_header img {
    width: 31em;
  }

  article {
    margin-top: 7.5em;
    font-size: 1rem;
  }

  article h1 {
    font-size: 4rem;
  }
}

@media screen and (min-width: 950px) and (max-width: 1040px) {
  header {
    height: 60%;
    margin-top: 7em;
  }

  .client-logos img {
    width: 4em;
  }

  .right_header img {
    width: 29em;
  }

  article {
    margin-top: 7.5em;
    font-size: 0.9rem;
  }

  article h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 950px) {
  :root {
    font-size: 12px;
  }

  header {
    height: 50%;
    margin-top: 9em;
  }
  .left_header {
    width: 50%;
  }

  .right_header {
    width: 50%;
  }
  .right_header img {
    width: 20em;
  }

  .client-logos img {
    width: 4em;
  }

  .right_header img {
    width: 29em;
  }

  article {
    margin-top: 7.5em;
    font-size: 1rem;
  }

  article h1 {
    font-size: 3.5rem;
  }
}

@media screen and (min-width: 50px) and (max-width: 750px) {
  :root {
    font-size: 14px;
  }

  body {
    background-color: var(--AlmostWhite);
  }

  main {
    width: 100%;
    height: 100vh;
    font-family: "Epilogue";
    position: relative;
    overflow: hidden;
  }

  nav {
    width: 95%;
    height: 20%;
    margin: auto;
    height: 5em;
    position: unset;
    color: var(--MediumGray);
    display: flex;
    justify-content: space-between;
  }

  #mobile_menu {
    z-index: 2;
  }

  #mobile_menu span {
    display: block;
    width: 2em;
    height: 0.3em;
    margin: 0.3em auto;
    background-color: var(--AlmostBlack);
    transition: transform 350ms ease-in-out;
  }

  .active span:nth-child(2) {
    opacity: 0;
  }

  .active span:nth-child(1) {
    transform: translateY(0.57em) rotate(45deg);
  }

  .active span:nth-child(3) {
    transform: translateY(-0.57em) rotate(-45deg);
  }

  .nav_items {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.3s ease-in-out;
  }
  
   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: 0.3s ease-in-out;
  }

  .active {
    transform: translateX(0);
  }

  .left_nav {
    display: block;
  }

  .nav_links {
    width: 80%;
    margin: 10em auto 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .nav_links li {
    margin: 1em 0;
  }

  .right_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .register {
    text-align: center;
    display: block;
    width: 80%;
    border: 1px solid var(--MediumGray);
    border-radius: 1em;
    margin: 1em auto;
    transition: 0.3s linear;
  }

  .login:hover {
    color: var(--AlmostBlack);
  }

  .register:hover {
    color: var(--AlmostBlack);
    border: 2px solid var(--AlmostBlack);
  }

  .features_dropdown {
    height: 12em;
    background-color: transparent;
    padding: 0;
    position: relative;
    bottom: 1em;
    top: 0em;
    left: 1em;
    border-radius: 0.5em;
    box-shadow: none;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .company_dropdown {
    position: relative;
    height: 7em;
    background-color: #fff;
    padding: 0em;
    bottom: 0em;
    left: 1em;
    border-radius: 0.5em;
    box-shadow: none;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1em;
    text-align: center;
    justify-content: flex-end;
  }

  .left_header {
    width: 100%;
    height: unset;
    display: block;
    margin: 2em auto;
  }

  .right_header {
    width: 100%;
    height: unset;
  }

  .client-logos img {
    width: 4em;
  }

  .desktop_img {
    display: none;
  }

  .right_header .mobile_img {
    display: inline-block;
    width: 35em;
    height: 25em;
  }

  article {
    margin-top: 0em;
    margin-bottom: 4em;
    font-size: 1rem;
  }

  article p {
    color: var(--MediumGray);
    width: 80%;
    line-height: 1.4em;
    margin: 0 auto 1.5em;
  }

  article h1 {
    font-size: 3rem;
  }

  .line-break {
    display: inline-block;
  }

  .client-logos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .client-logos img {
    width: 5em;
  }

  .hide {
    display: none;
  }
}

@media screen and (min-width: 50px) and (max-width: 500px) {
  :root {
    font-size: 14px;
  }

  .right_header .mobile_img {
    display: block;
    width: 100%;
    height: 25em;
  }

  .client-logos img {
    width: 4em;
  }

  article p {
    color: var(--MediumGray);
    width: 80%;
    line-height: 1.4em;
    margin: 0 auto 1.5em;
  }

  article h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 50px) and (max-width: 400px) {
  :root {
    font-size: 14px;
  }

  .right_header .mobile_img {
    display: inline-block;
    width: 100%;
    height: 20em;
  }

  article h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 50px) and (max-width: 300px) {
  :root {
    font-size: 12px;
  }
}

@media screen and (min-width: 50px) and (max-width: 220px) {
  :root {
    font-size: 8px;
  }
}
